{% extends 'map/layout.html' %}

{% block content %}
    <h3 class="center-align red lighten-3">{{action}}</h3>
    <form action="/calculate" class="main_form">
        <label for="postcode">Enter Postcode</label>
        <input type="text" id="postcode">
        <input type="submit" value="Submit">
    </form>
{% endblock %}